h1{
    color: blue;
    background-color: green;
}



 /* *{
            background-color: green;
        }
        ol>li>ul>.c1 {
            color: red;
        }
        ol>li>ul>.c2{
            color:blue;
        }
        ul>ol>#p1{
            color: purple;
        }
         ul>ol>#a1{
            color: aliceblue;
        }
        ol>li.c6{
            color: blue;
        } */